.banner { 
height: 260px;
background-color:#f2f8f8;
}

.video {
height: 315px;
width:640px;
background-color: #f2f8f8;
}

#sidebar {
  padding-top: 50px;
}

.nav li {
  height:40px;
}

h3 {
  padding-top:30px;
}

#imagebox {
  height:220px;
  width:220px;
  background-color:#f2f8f8;
}

#testimonial_carousel {
  display:inline;
}

/* contact pg */

#contactinfo {
  padding: 20px;
}
/* end contact pg */

/* press pg */
.media {
  padding-top:20px;
}

.media-object {
  width: 140px;
  height: 140px;
}

/* end press pg */

/* Success Story pg */
#preface {
  height: 140px;
  background-color:gray;
  margin-top:20px;
}

#preface p{
  padding:20px;
  color: #ffffff;
}

#awkwardbox {
  height:500px;
  background-color:#f2f8f8;
  margin-top:30px;
}

/* end success story pg */