.banner { 
height: 260px;
background-color:gray;
}

.video {
height: 315px;
width:640px;
background-color: gray;
}

#sidebar {
  padding-top: 50px;
}

.nav li {
  height:40px;
}

h3 {
  padding-top:30px;
}

#imagebox {
  height:220px;
  width:220px;
  background-color:gray;
}

/* contact pg */

#contactinfo {
  padding: 20px;
}
/* end contact pg */

/* press pg */
.media {
  padding-top:20px;
}

.media-object {
  width: 140px;
  height: 140px;
}

/* end press pg */